<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4B1430117FEE24100C6DECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E505F5A980F35A6183B567F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E505FB9C1C50F26C53EA923B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
